&nbsp;
<a class="navbar-brand" href="#">
    <img src={{clientDetails.headerLogoUrl}}
     width="150" height="50"> 
</a>
    <br>
    <br>
        <div id="fade">
            <h1> Welcome to {{clientDetails.companyName}}</h1>
        </div>
        <br>
        <br>
        <div class="logo-img"> 
            <img src="https://static.surveysparrow.com/site/assets/home/happy-customers-surveysparrow.png"> 
        </div>
        <br>
        <br>
        <div class="row">
            <input type="submit" class="btn-primary log-in-button" value="Start Survey" id="log-in-button">
        </div>

        <div class="footer navbar-light bg-light">           
          </div>

          <div class="footer navbar-fixed-bottom bg-light">
           <div class="footer-copyright py-3 text-center">
       
    </div>
          </div>